#a1{
    border: 3px solid black;
    padding:10px ;
    margin: 10px;
    background-color: rgb(255, 187, 127);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}